<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Expenses</strong>
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <app-expenses [(expense)]="yield.expense"></app-expenses>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Income</strong>
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <app-income [(income)]="yield.income"></app-income>
    <mat-action-row>
      <button mat-button color="primary" (click)="prevStep()">Back</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-card>
  <h4>Yield</h4>
  <mat-card-content>
    <div fxFlex fxLayout="row">
      <div fxFlex="20">Gross Yield: {{yield.grossYield | number}}%</div>
      <div fxFlex="20"> Net Yield: {{yield.netYield | number}}%</div>
    </div>
    <div>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
