 
<md-content layout="row" layout-padding  layout-align="end center">
 <md-button ng-disabled="vm.validInputs" class="md-primary" ng-click="vm.calculate()">Disabled</md-button>
 </md-content>
<md-content layout="row" layout-padding>
    <md-input-container class="md-block" flex>
        <md-autocomplete name="address" required
                         md-input-name="address"
                         md-no-cache="vm.noCache"
                         md-search-text="vm.searchText"
                         md-items="location in vm.getAddresses(vm.searchText)"
                         md-item-text="location.display"
                         md-search-text-change="vm.searchTextChanged(vm.searchText)"
                         md-selected-item-change="vm.addressSelected(location)"
                         md-autoselect="true"
                         md-autofocus="false"
                         md-min-length="4"
                         md-floating-label="Full Address">
            <md-item-template>
                <span md-highlight-text="vm.searchText">{{ location.display}}</span>
            </md-item-template>
            <md-not-found>
                No matches found for "{{vm.searchText}}".
            </md-not-found>
            <div ng-messages="vm.registrationForm.$error" ng-if="vm.registrationForm.$touched" class="online-reg-form-error">
                <div ng-message="required">
                    You <b>must</b> enter an address.
                </div>
            </div>
        </md-autocomplete>
    </md-input-container>

</md-content>
<md-content layout="row" layout-padding>
       <md-input-container class="md-block" flex>
            <label>Price</label>
            <input type="text" ng-currency min="0" ng-model="vm.inputs.price" ng-change="vm.validateModel()">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Square feet</label>
            <input type="number" min="0" ng-model="vm.inputs.sqFeet" ng-change="vm.validateModel()">
        </md-input-container>
  </md-content>
<md-content layout="row" layout-padding>
     <md-input-container class="md-block" flex>
            <label>Renovations</label>
            <input type="text" ng-currency min="0" ng-model="vm.inputs.renovations" ng-change="vm.validateModel()">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Vintage</label>
            <md-select  min="0" ng-model="vm.inputs.vintage" ng-change="vm.validateModel()">
                <md-option ng-repeat="vintage in vm.vintages" value="{{vintage.vintageId}}">
                    {{vintage.vintage}}
                </md-option>
            </md-select>
        </md-input-container>
  </md-content>
<md-content layout="row" layout-padding>
      <md-input-container class="md-block" flex>
            <label>HOA Fees</label>
            <input type="text" ng-currency min="0" ng-model="vm.inputs.hoaFees" ng-change="vm.validateModel()">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Rent</label>
            <input type="text" ng-currency min="0" ng-model="vm.inputs.rent" ng-change="vm.validateModel()">
        </md-input-container>
  </md-content>

<!--<pre>{{vm.inputs}}</pre>-->
