<md-content layout="row" layout-padding>
       <md-input-container class="md-block" flex>
            <label>Property Mgt.</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.management">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Lease Up</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.leaseUp">
        </md-input-container>
  </md-content>
<md-content layout="row" layout-padding>
      <md-input-container class="md-block" flex>
            <label>Maintenance</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.maintenance">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Taxes</label>
             <input type="text" ng-currency min="0" ng-model="vm.assumptions.taxes">
        </md-input-container>
  </md-content>
<md-content layout="row" layout-padding>
       <md-input-container class="md-block" flex>
            <label>Insurance</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.insurance">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Special Assessments</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.specialAssessments">
        </md-input-container>
  </md-content>
<md-content layout="row" layout-padding>
    <md-input-container class="md-block" flex>
            <label>Turnover</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.turnover">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Landscaping</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.landscaping">
        </md-input-container>
  </md-content>
<md-content layout="row" layout-padding>
          <md-input-container class="md-block" flex="50">
            <label>Other</label>
            <input type="text" ng-currency min="0" ng-model="vm.assumptions.other">
        </md-input-container>
  </md-content>
<!--<pre>{{vm.settings}}</pre>-->

