<div id="map"></div>

<!--<div layout-padding layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Latitude</label>
    <input  type ="number" ng-model="vm.center.lat" ng-change="vm.changeCenter(vm.center)"  min="-180" max="180">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Longitude</label>
        <input  type ="number" ng-model="vm.center.lng" ng-change="vm.changeCenter(vm.center)" min="-180" max="180">
    </md-input-container>
</div>
<div layout-padding layout-gt-sm="row">
<md-input-container class="md-block" flex="33">
    <label>Zoom Level</label>
    <md-select name="zoomSelect" id="zoomSelect" ng-model="vm.zoom" ng-change="vm.changeZoom(vm.zoom)">
        <md-option value="0">0</md-option>
        <md-option value="1">1</md-option>
        <md-option value="2">2</md-option>
        <md-option value="3">3</md-option>
        <md-option value="4">4</md-option>
        <md-option value="5">5</md-option>
        <md-option value="6">6</md-option>
        <md-optionon value="7">7</md-optionon>
        <md-option value="10">10</md-option>
        <md-option value="11">11</md-option>
        <md-option value="12">12</md-option>
        <md-option value="13">13</md-option>
        <md-option value="14">14</md-option>
        <md-option value="15">15</md-option>
        <md-option value="16">16</md-option>
        <md-option value="17">17</md-option>
        <md-option value="18">18</md-option>
    </md-select>
</md-input-container>
</div>-->